Wox.Plugin.GraphicalTimer/.vs/
Wox.Plugin.GraphicalTimer/packages/
Wox.Plugin.GraphicalTimer/Wox.Plugin.GraphicalTimer/bin/Debug/Wox.Plugin.dll
Wox.Plugin.GraphicalTimer/Wox.Plugin.GraphicalTimer/bin/
Wox.Plugin.GraphicalTimer/Wox.Plugin.GraphicalTimer/obj/
Wox.Plugin.GraphicalTimer/Wox.Plugin.GraphicalTimer/Plugin/
